<h1>Recipes</h1>

    <% @recipes.each do |recipe| %>
        <%= recipe %> - <%= recipe.name %><br><br>
   <% end %>

		<%= form_with url: "./ingredients" do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, @ingredient) %>
  <%= submit_tag("Search") %>

<% end %>

    


